*{
    @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
    font-family: var(--cinzel);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
:root {
    --primary-gold: #926718; 
    --royal-black: #0a0a0a;
    --pure-white: #ffffff;
    --cinzel: "Cinzel", serif;
}

body{
    position: relative;

}
.navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    position: sticky;
    background-color: var(--pure-white);
}
.Logo{
    display: flex;
    align-items: center;
    gap: 2em;
    width: 50%;
}
.Logo a h1{
    font-size: 2em;
    color: var(--royal-black);
    position: relative;
}
.Logo a h1::after{
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--primary-gold);
    bottom: -5px;
    transition: 0.6s ease-in-out ;

}
.Logo a h1:hover::after{
    width: 100px;
    background-color: #926718;
}

nav ul{
    display: flex;
    gap: 3em;
}
nav li{
    list-style: none;
    display: flex;
}
nav li a{
    text-decoration: none;
    color: var(--royal-black);
    font-size:18px ;
    font-weight: 500;
    position: relative;

}
nav li a::after{
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--primary-gold);
    bottom: -5px;
    transition: 0.3s ease-in-out ;
}
nav li a:hover::after{
    width: 100%;
    background-color: #926718;

}
.image{
    height: 80px;
    width: auto;
    border-radius: 100px;
}


.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0a0a0a;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    
    /* This animation handles the "disappearing" act */
    animation: loader-exit 1s forwards;
    animation-delay: 2s; /* How long the loader stays visible */
}

.loader-content {
    text-align: center;
}

.loader-logo {
    font-family: 'Cinzel', serif;
    color: #ffffff;
    font-size: 3rem;
    letter-spacing: 12px;
    margin: 0;
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

.loader-line {
    height: 1px;
    width: 0;
    background-color: #c5a059;
    margin: 15px auto 0;
    animation: growLine 1.5s 0.5s forwards;
}

/* --- ANIMATIONS --- */

@keyframes fadeIn {
    to { opacity: 1; }
}

@keyframes growLine {
    to { width: 100%; }
}

@keyframes loader-exit {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        pointer-events: none; /* Crucial: allows clicking on the site behind it */
    }
}